/*COLOR*/
body {
  background-color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body .spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  border: 16px solid gray;
  border-radius: 100%;
  border-top: 16px solid #D561E6;
  margin: -76px 0 0 -76px;
  -webkit-animation: spin 2s ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-duration: 5s;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}

header {
  background: white;
  box-shadow: 1px 1px 5px #b3b3b3;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
}
header img {
  width: 250px;
}

.localisation {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #f0f0f0;
}
.localisation i {
  padding: 1rem;
}
.localisation input {
  font-weight: bold;
  border-style: none;
  background: none;
  width: 97px;
}
.localisation ::placeholder {
  color: black;
}

.information {
  background: white;
  width: 100%;
  height: 220px;
}
.information div {
  padding-bottom: 30px;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 25px;
}
.information h1 {
  font-size: 23px;
  margin: 0;
  padding-bottom: 10px;
  padding-right: 30px;
  padding-left: 30px;
}
.information h2 {
  margin: 0;
  text-align: center;
  font-size: 18px;
  font-weight: lighter;
  padding-bottom: 30px;
}

@media (max-width: 500px) {
  .information {
    height: 270px;
  }
}
button {
  width: 250px;
  height: 55px;
  border-radius: 50px;
  border-style: none;
  box-shadow: 1px 5px 10px #b9b9b9;
  background: linear-gradient(164deg, #eb73da 0%, #a63aff 100%);
  transform: scale(1);
  transition: transform 400ms;
}
button:hover {
  transform: scale(1.03);
  background: linear-gradient(164deg, #ff7beb 0%, #910bff 100%);
}
button h3 {
  color: white;
  font-weight: bold;
}

nav {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.nav > div {
  display: flex;
  width: 100%;
  padding-right: 20px;
  background-color: white;
  box-shadow: 1px 2px 3px #adadad;
  height: 80px;
  border-radius: 20px;
  margin-bottom: 1rem;
  align-items: center;
}
.nav > div i {
  padding-left: 20px;
  font-size: 22px;
  color: gray;
}
.nav > div .fa-store {
  color: #9900ff;
}
.nav > div h3 {
  padding-left: 20px;
  font-size: 18px;
}
.nav > div:hover {
  background-color: #e4e4e4;
}

@media (min-width: 1024px) {
  .nav {
    display: flex;
    width: 100%;
    gap: 50px;
    align-items: center;
    justify-content: center;
  }
  .nav > div {
    width: 100%;
  }
}
.cercle-violet {
  font-size: 12px;
  font-weight: bold;
  color: white;
  background-color: #9900ff;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 12px;
  padding-left: 12px;
  border-radius: 30px;
  margin-left: -10px;
}

main {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: #f0f0f0;
}

.liste-resto {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1024px) {
  .liste-resto {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 3rem;
  }
}
.liste-resto > article {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 950px;
  background-color: white;
  box-shadow: 1px 1px 3px #cccccc;
  height: 260px;
  border-radius: 20px;
  margin-bottom: 20px;
  animation-name: animation;
  animation-duration: 700ms;
  animation-delay: 0ms;
  animation-timing-function: ease-in-out;
  transform: scale(1);
  transition: transform 400ms;
}
.liste-resto > article:hover {
  transform: scale(1.03);
}
@keyframes animation {
  0% {
    transform: translateY(5vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.liste-resto > article h3 {
  font-size: 20px;
  margin-bottom: 5px;
  margin-top: 0px;
  font-weight: bold;
}
.liste-resto > article h4 {
  font-size: 18px;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: lighter;
}
.liste-resto > article img {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 180px;
  object-fit: cover;
}
.liste-resto > article a {
  text-decoration: none;
  color: black;
}
.liste-resto > article .titre-coeur {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.liste-resto > article .texte {
  display: flex;
  flex-direction: column;
}
.liste-resto > article .coeur-transparant {
  font-size: 28px;
}
.liste-resto > article .coeur-violet {
  visibility: hidden;
  font-size: 24px;
  position: absolute;
  top: 205px;
  right: 12px;
}
.liste-resto > article .coeur:hover .coeur-violet {
  visibility: visible;
  background: linear-gradient(164deg, #eb73da 0%, #a63aff 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

footer {
  width: 100%;
  height: 100%;
  padding: 0.1rem;
  background-color: #303030;
}

h5 {
  font-family: "Shrikhand", cursive;
  font-weight: lighter;
  font-size: 20px;
  margin: 0;
  padding-bottom: 10px;
  color: white;
}

li {
  display: flex;
  list-style: none;
  padding-bottom: 10px;
  color: white;
}

.footer-logo {
  display: flex;
  flex-direction: row;
}
.footer-logo li {
  padding-bottom: 10px;
  padding-left: 10px;
}
.footer-logo i {
  color: white;
  font-size: 15px;
}
.footer-logo .fa-hands-helping {
  font-size: 10px;
}

@media (max-width: 450px) {
  main {
    padding-left: 15px;
    padding-right: 15px;
  }

  nav {
    padding-left: 25px;
    padding-right: 25px;
  }
}

/*# sourceMappingURL=style.css.map */
