/*Var Color*/
body {
  background-color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-weight: bold;
  font-size: 27px;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  align-items: center;
}
header img {
  width: 170px;
}
header i {
  font-size: 20px;
}
header a {
  text-decoration: none;
  color: black;
}

.container-principal {
  padding-bottom: 10px;
}
.container-principal #image-fond {
  object-fit: cover;
  width: 100%;
  position: relative;
  max-height: 200px;
}
.container-principal .detail {
  width: 100%;
  position: absolute;
  margin-top: -30px;
  height: auto;
  border-radius: 30px;
  background-color: #eeeeee;
}

.titre {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 35px;
  padding-top: 20px;
  padding-bottom: 10px;
  justify-content: space-between;
}
.titre .coeur-transparant {
  font-size: 28px;
}
.titre .coeur-violet {
  visibility: hidden;
  font-size: 24px;
  position: absolute;
  top: 25px;
  right: 37px;
}
.titre .coeur:hover .coeur-violet {
  visibility: visible;
  background: linear-gradient(164deg, #eb73da 0%, #a63aff 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.plats {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
}
.plats h3 {
  font-size: 16px;
  font-weight: lighter;
  margin-bottom: 5px;
}
.plats .trait-soustexte {
  width: 40px;
  height: 3px;
  background-color: #00ff88;
  margin-bottom: 20px;
}
.plats article {
  width: 100%;
  height: auto;
  max-width: 1050px;
  margin-bottom: 10px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 1px 1px 5px #cacaca;
  animation-name: zoom;
  animation-duration: 700ms;
  animation-delay: 0ms;
  animation-timing-function: ease-in-out;
  transform: scale(1);
  transition: transform 100ms;
}
.plats article:hover {
  transform: scale(1.02);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@keyframes zoom {
  0% {
    transform: translateY(3vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.plats article > div {
  overflow: hidden;
}
.plats article > div:hover .check {
  margin-right: 0;
}
.plats article > div:hover .check i {
  animation-name: slide;
  animation-duration: 700ms;
}
@keyframes slide {
  0% {
    margin-right: -30px;
    transform: rotateZ(40deg);
  }
  100% {
    margin-right: 0px;
    transform: rotateZ(360deg);
    opacity: 1;
  }
}
.plats article h3 {
  font-size: 17px;
  margin: 0;
  font-weight: bold;
}
.plats article h4 {
  font-size: 15px;
  margin: 0;
  font-weight: normal;
}
.plats article h5 {
  margin-left: auto;
  padding-right: 20px;
  padding-top: 20px;
}
.plats article .description {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.plats article .titre-plats {
  padding-top: 15px;
  padding-left: 20px;
  padding-bottom: 15px;
  overflow: hidden;
  white-space: nowrap;
}
.plats article .titre-plats h3 {
  text-overflow: ellipsis;
  overflow: hidden;
}
.plats article .titre-plats h4 {
  text-overflow: ellipsis;
  overflow: hidden;
}
.plats article .composition-prix {
  display: flex;
  flex-direction: row;
  height: 25px;
  align-items: center;
}
.plats article .check {
  background-color: #99E2D0;
  padding-top: 23px;
  padding-bottom: 23px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 0px 15px 15px 0px;
  margin-right: -4.1rem;
  transition-duration: 300ms;
}
.plats article .check i {
  font-size: 25px;
  color: white;
}

@media (min-width: 500px) {
  .plats {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.bouton {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 50px;
}
.bouton button {
  width: 180px;
  height: 50px;
  border-radius: 50px;
  border-style: none;
  box-shadow: 1px 5px 10px #b9b9b9;
  background: linear-gradient(164deg, #eb73da 0%, #a63aff 100%);
  transform: scale(1);
  transition: transform 400ms;
}
.bouton button:hover {
  background: linear-gradient(164deg, #ff7beb 0%, #910bff 100%);
  transform: scale(1.03);
}
.bouton button h3 {
  color: white;
  font-weight: bold;
  margin: 0;
}

footer {
  width: 100%;
  height: auto;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: #303030;
}

li {
  display: flex;
  list-style: none;
  padding-bottom: 10px;
  color: white;
}

ul {
  margin: 0;
}

h2 {
  font-family: "Shrikhand", cursive;
  font-weight: lighter;
  font-size: 20px;
  margin: 0;
  padding-bottom: 10px;
  color: white;
}

.footer-logo {
  display: flex;
  flex-direction: row;
}
.footer-logo li {
  padding-bottom: 10px;
  padding-left: 10px;
}
.footer-logo i {
  color: white;
  font-size: 15px;
}
.footer-logo .fa-hands-helping {
  font-size: 10px;
}

/*# sourceMappingURL=style_page.css.map */
